#container {
    width: 360px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid grey;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.completed {
    color: grey;
    text-decoration: line-through;
}